body {
  font: normal 16px Arial, sans-serif;
}

button {
  font: bold 14px Arial, sans-serif;
  padding: 7.5px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"] {
  font: normal 14px Arial, sans-serif;
  padding: 7px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.score {
  top: 0px;
  right: 10px;
  position: fixed;
  font: bold 20px Arial, sans-serif;
}

.theme-button {
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  cursor: pointer;
}

.wrongGif {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: wait;
}

.rightGif {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: wait;
}

.reset-score {
  font: bold 10px Arial, sans-serif;
  padding: 7px 12px;
  background-color: #ed2828;
  color: white;
  border: none;
  border-radius: 5px;
  top: 50px;
  right: 70px;
  position: fixed;
  cursor: pointer;
}

.correct-answer {
  white-space: pre-line;
}
